<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{{ app_name }}{% endblock %}
        </title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport">
        {{ encore_entry_link_tags("#{assets_prefix ?? ''}main") }}
        {% block favicon %}
         {% endblock %}
         {% block stylesheets %}
         {% endblock %}

        {% if matomoUrl is defined and matomoUrl is not null %}
            {% include '@Mobicoop/matomo.html.twig' %}
        {% endif %}

    </head>
    <body>
        <div id="app">
            <v-app>
                {% if app.user %}
                    <m-header 
                    :user="{{app.user|json_encode}}"
                    :url-mobile="{{urlMobile|json_encode}}"></m-header>
                {% else %}
                    <m-header :url-mobile="{{urlMobile|json_encode}}"></m-header>
                {% endif %}

                <v-content>
                    {% block main %}{% endblock %}
                </v-content>

                {% block footer %}
                    <m-footer></m-footer>
                {% endblock %}
            </v-app>
        </div>
    </body>

    {{ encore_entry_script_tags("#{assets_prefix ?? ''}app") }}
    {% block javascripts %}{% endblock %}
</html>