{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}carpool.results.title{% endtrans %} - {{ app_name }}{% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}carpool/results") }}#}
{% endblock %}
{% block main %}

    <matching
        :proposal-id = "{{ proposalId is defined ? (proposalId ? proposalId : 'null') : 'null' }}"
        :origin = "{{ origin is defined ? origin : 'null' }}"
        :destination = "{{ destination is defined ? destination : 'null' }}"
        date = "{{ date is defined ? date : '' }}"
        time = "{{ time is defined ? time : '' }}"
        :community-id = "{{ communityId is defined ? (communityId ? communityId : 'null') : 'null' }}"
        :user="{{ app.user|json_encode }}"
        {{ regular is defined ? (regular == 'true' ? 'regular' : '') : '' }}
        {{ distinguishRegular ? 'distinguish-regular' : '' }}
        :carpooler-rate = "{{ carpoolerRate }}"
    />


{% endblock %}
