{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}events.events.title{% endtrans %} - {{ app_name }}{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block main %}
    <section class="hero firstSection">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans from 'ui' %}events.events.h1{% endtrans %}
                </h1>
            </div>
        </div>
    </section>
    <br/><br/>
    <div class="layout justify-center"
         outlined
         tile>
        <div class="flex xs10">
            {# <community-help></community-help> #}
            <br/><br/>
            <event-list
                    :paths="{{ {'event_create':path('event_create')}|json_encode }}"
                    :eventscoming="{{ eventComing |json_encode }}"
                    :eventspassed="{{ eventPassed |json_encode }}"
                    :points-coming="{{ pointComing|json_encode }}"
                    :map-provider="{{ mapProvider|json_encode }}"
                    :url-tiles="{{ urlTiles|json_encode }}"
                    :attribution-copyright="{{ attributionCopyright|json_encode }}"
            ></event-list>
            <br/><br/>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}