{# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community #}
{% extends '@Mobicoop/event/base.widget.html.twig' %}

{% block title %}Evénement {% endblock %}
{% block main %}
    <event-widget
        :event="{{ event|json_encode }}"
        :geodata="{{ {'geocompleteuri':geoCompleteUri, 'searchroute':searchRoute}|json_encode }}"
        :user="{{ app.user|json_encode }}"
        :map-provider="{{ mapProvider|json_encode }}"
        :url-tiles="{{ urlTiles|json_encode }}"
        :attribution-copyright="{{ attributionCopyright|json_encode }}"
        url-alt-avatar="{{ urlAltCommunityAvatar }}"
        avatar-version="{{ communityAvatarVersion }}"
        {{ searchRegular ? 'regular' : '' }}
        {{ searchPunctualDate ? 'punctual-date-optional' : '' }}
    ></event-widget>
{% endblock %}
