<template>
  <v-card v-if="item">
    <v-row>
      <v-col cols="3">
        <v-img
          v-if="item['images'][0]"
          :src="item['images'][0]['versions']['square_250']"
          lazy-src="https://picsum.photos/id/11/10/6"
          aspect-ratio="1"
          class="grey lighten-2"
          max-width="200"
          max-height="150"
        />
        <v-img
          v-else
          src="https://picsum.photos/id/11/500/300"
          lazy-src="https://picsum.photos/id/11/10/6"
          aspect-ratio="1"
          class="grey lighten-2"
          max-width="200"
          max-height="150"
        />
      </v-col>
      <v-col  
        xl="6"
        md="5"
      >
        <v-card-title>
          <div>
            <h4>
              <a :href="linkToCommunityShow(item)">{{ item.name }}</a>
            </h4>
          </div>
        </v-card-title>
        <v-divider />
        <v-list dense>
          <v-list-item>
            <v-list-item-content>
              {{ item.description }}
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-col>
      <v-col
        class="text-center"
      >
        <div
          class="my-2"
        >
          <v-btn
            color="secondary"
            rounded
            :href="linkToCommunityShow(item)"
          >
            {{ $t('communityDetails') }}
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
import { merge } from "lodash";
import Translations from "@translations/components/community/CommunityListItem.json";
import TranslationsClient from "@clientTranslations/components/community/CommunityList.json";
let TranslationsMerged = merge(Translations, TranslationsClient);

export default {
  i18n: {
    messages: TranslationsMerged,
  },
  props:{
    item:{
      type: Object,
      default: null
    }
  },
  methods:{
    linkToCommunityShow: function (item) {
      return this.$t('routes.community', {id:item.id});
    }
  }
}
</script>