{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>
        {{ "newContactAsk"|trans }}.
    </p>

    <ul>
        <li>{{ "name"|trans }} : {{ context.contact.familyName ? context.contact.familyName : "notMentioned"|trans }}</li>
        <li>{{ "firstname"|trans }} : {{ context.contact.givenName ? context.contact.givenName : "notMentioned"|trans }}</li>
        <li>{{ "email"|trans }} : {{ context.contact.email }}</li>
        <li>{{ "ask"|trans }} : {{ context.contact.demand ? context.contact.demand|trans : "notMentioned"|trans }}</li>
    </ul>
    <p>{{ context.contact.message|nl2br }}</p>

{% endblock %}