{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>
        Attention !

        Votre covoiturage pour {{ (matching.waypoints|first).address.county }}
        => {{ (matching.waypoints|last).address.county }}
        avec le passager {{ carpooler }} a été annulé, car {{ carpooler }} a supprimé son annonce associée.

        Cliquez sur ce lien pour relancer votre recherche {{ (matching.waypoints|first).address.county }}
        => {{ (matching.waypoints|last).address.county }} .

        Il n’y a pas de pénalité pour l’annulation de ce covoiturage. Cependant afin de garantir la fiabilité des
        annonces et protéger les covoitureurs d'annulations trop répétées,
        nous nous réservons le droit de suspendre les possibilités de publier des annonces si un covoitureur annule trop
        souvent.
    </p>
{% endblock %}