{% extends '/email/notification/base.html.twig' %}

{% set matching = context.matching %}

{# todo: better handle ask #}
{% set ask = matching.asks[0] %}
{% if matching.proposalOffer.user.id != ask.user.id %}
    {% set carpooler = matching.proposalOffer.user.givenName %}
{% else %}
    {% set carpooler = matching.proposalOffer.user.givenName %}
{% endif %}