{# {% if Driver regular %}
@PrenomOuPseudoPassager {{ "askYouCarpoolRegular"|trans }} @villePEC {{ "at"|trans }} @VilleDepose. {{ "findTheProposalIn"|trans }}.
{% elseif Driver occasionnal %}
@PrenomOuPseudoPassager {{ "askYouCarpool"|trans }} @villePEC {{ "at"|trans }} @VilleDepose. {{ "findTheProposalIn"|trans }}.
{% elseif Passenger regular %}
@PrenomOuPseudoConducteur {{ "askYouCarpoolRegular"|trans }} @villePEC {{ "at"|trans }} @VilleDepose. {{ "findTheProposalIn"|trans }}.
{% elseif Passenger occasionnal %}
@PrenomOuPseudoConducteur {{ "askYouCarpool"|trans }} @villePEC {{ "at"|trans }} @VilleDepose. {{ "findTheProposalIn"|trans }}.
{% endif %} #}
Un utilisateur vous propose un trajet correspondant à votre recherche. Retrouvez la proposition dans "Mes messages".