{#Votre demande pour un {{OrigineDemande}} => {{DestinationDemande}} avec {{PseudoCovoitureur}} a été rejetée, car {{PseudoCovoitureur}} a supprimé son annonce.#}
{#Cliquez sur ce lien pour relancer votre recherche {{OrigineDemande}} => {{DestinationDemande}}.#}
Votre demande a été annulée